
*{
    margin:0;
    padding:0;
}

body{
  background:#e6e6e6;
}

header, .main, footer {
  width:90%;
  max-width:1000px;
  margin:20px auto;
}

header nav{
  background-color:#528FD5;
  overflow: hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li{
float:left;
}

header nav ul li a{
  text-decoration: none;
  padding:10px 20px;
  display:block;
  color:white;
}

header nav ul li a:hover{
  background-color:#75ACEC;
}

.main .articles{
  width:68.5%;
  float:left;

  margin-right: 1.5%;
}

.main .articles article{
  padding:20px;
  background:#fff;
  margin-bottom: 20px;
}
aside{
  width: 30%;
  background:#ff8000;
  float:left;
  padding:20px;
  box-sizing: border-box;
}

footer{
  background-color: black;
  clear:both;
  padding:10px 0px;
  text-align: center;
  color:white;
}